

  /* Form container */
  .form-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 

}

/* Hover effect to enhance shadow */
.form-wrapper:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.form-wrapper{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(167, 205, 110, 0.841);
    padding: 30px;
    border-radius: 5px;
}

/* Scrollable form */
.scrollable-form {
    width: 550px;
    max-height: 500px; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    
}

/* Input fields & textarea */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #000000;
    background-color: rgba(240, 253, 221, 0.841);
    border-radius: 4px;

}

textarea{
    min-height: 100px;
}

label{
    font-weight: 500;
    color: black;
}

/* Button */
.feeback {
    width: 100%;
    padding: 10px;
    background: #9ca728;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px!important;
}

.feeback:hover {
    background: #402188!important;
    border-radius: 6px!important;
}
.created-by p{
    color: rgb(223, 233, 27);
    font-style: normal;
    font-weight: 600;
}